<h1>future sign up form </h1>


<%= form_for(@user) do |f|%>
<%= f.text_field :first_name, placeholder: "First name" %><br>
<%= f.text_field :last_name,placeholder: "Last name" %><br>
<%= f.text_field :username, placeholder: "username" %><br>
<%= f.email_field :email, placeholder: "E-mail " %><br>
<%= f.password_field :password, placeholder: "Password" %><br>
<%= f.select :position, [["Server"], ["Bartender"],['Other']] %><br>
<%= f.submit "Submit" %>
<% end %>
