
<% if current_user == @user  %>
<%= session[:user] %>
<p><%#= @user.position %></p>


<h3>your reviews only you should be able to see...</h3>

<% @user.reviews.each do |user_review| %>
<%= user_review.title %><br>
<%= user_review.role %><br>
<%= user_review.more_details %><br>
<%= user_review.shift_description %><br>
<%= user_review.tip_avg%><br>
<span><b>Clientele</b></span><br>
<%user_review.clientele.times do %>
<span class="star"></span>
<% end %><br>
<span><b>Team</b></span><br>
<% user_review.team.times do %>
<span class="star"></span>
<%  end %> <br>
<span><b>Management</b></span><br>
<% user_review.management.times do %>
<span class="star"></span>
<% end %><br>
<span><b>Overall Rating</b></span><br>
<% user_review.rating.times do  %>
<span class="star"></span>
<% end %><br><br>
<% end %>
<% else %>
<h1>You are not this User...</h1>


<% end %>
