
 <div id="alert-display"> </div>

<div class="container ">
  <div class="row">
    <% @review.each do |restaurant_review| %>

    <div class="col-md-6 ">
      <%= form_for restaurant_review,:html => {:class => "review-form-reviews", :id => "edit-review-form" }, remote: true do |t| %>

      <img style="margin-bottom: 15px; width:100%;" class="image-post" src="<%=restaurant_review.restaurant.picture %>" alt="#">
      <h4><b><%= restaurant_review.restaurant.name %></b></h4>
      <p ><%= t.text_field :title%></p>
      <%= t.select :role, [['Server'],['Bartender'],['Other']], :required => true, :prompt => "choose position" %><br>
      <%= t.number_field :tip_avg, placeholder: "Tip average/Hr", :required => true %><br>
      <h4>Clientele:</h4>

      <div class="container star-content">

        <%= t.radio_button :clientele,5, :id=> "5", :class => "star"  %><label id="clientele5" class="star" for="star5" title="Excellent!"></label><br>
        <%= t.radio_button :clientele, 4, :id=> "4", :class => "star"  %><label id="clientele4" class="star" for="star4" title="Good!"></label>
        <%= t.radio_button :clientele, 3, :id=> "3", :class => "star"  %><label id="clientele3" class="star" for="star3" title="Average!"></label>
        <%= t.radio_button :clientele, 2, :id=> "2", :class => "star"  %><label id="clientele2" class="star"  for="star2" title="Poor!"> </label>
        <%= t.radio_button :clientele, 1, :id => "1", :class => "star"   %><label id="clientele1" class="star"  for="star1" title=" very Poor!"> </label>
      </div>


      <h4>Team:</h4>

      <div class="container star-content">

        <%= t.radio_button :team, 5, :id =>  "t5", :class => "star-2" %><label id="team5" class="star-2" for="star5" title="Excellent!"></label><br>
        <%= t.radio_button :team, 4, :id =>  "t4", :class => "star-2" %><label id="team4" class="star-2" for="star4" title="Good!"> </label>
        <%= t.radio_button :team, 3, :id =>  "t3", :class => "star-2" %><label id="team3" class="star-2" for="star3" title="average!"> </label>
        <%= t.radio_button :team, 2, :id =>  "t2", :class => "star-2" %><label id="team2" class="star-2" for="star2" title="Poor!"> </label>
        <%= t.radio_button :team, 1, :id =>  "t1", :class => "star-2" %><label id="team1" class="star-2" for="star1" title=" very Poor!"> </label>

      </div>




      <h4>Management:</h4>
      <div class="container star-content">


        <%= t.radio_button :management, 5, :id => "m5", :class => "star-3"  %><label id="mange5" class="star-3" for="star5" title="Excellent!"> </label><br>
        <%= t.radio_button :management, 4, :id => "m4", :class => "star-3"  %><label id="mange4" class="star-3" for="star5" title="Good!"> </label>
        <%= t.radio_button :management, 3, :id => "m3", :class => "star-3"  %><label id="mange3" class="star-3" for="star5" title="Average!"></label>
        <%= t.radio_button :management, 2, :id => "m2", :class => "star-3"  %><label id="mange2" class="star-3" for="star5" title="Poor!"></label>

        <%= t.radio_button :management, 1, :id =>  "m1", :class => "star-3"  %><label id="mange1" class="star-3" for="star5" title="Very Poor!"> </label>
      </div>

      <h4>Rating:</h4>

      <div class="container star-content">

        <%= t.radio_button :rating,5, :id =>"r5", :class => "star-4" %><label id="rate5" class="star-4" for="star5" title="Excellent!"> </label>
        <%= t.radio_button :rating,4, :id =>"r4", :class => "star-4" %><label id="rate4" class="star-4" for="star5" title="Good!"> </label>
        <%= t.radio_button :rating,3, :id =>"r3", :class => "star-4" %><label id="rate3" class="star-4" for="star5" title="Average!"> </label>
        <%= t.radio_button :rating,2, :id =>"r2", :class => "star-4" %><label id="rate2" class="star-4" for="star5" title="Poor!"> </label>
        <%= t.radio_button :rating,1, :id =>"r1", :class => "star-4" %><label id="rate1" class="star-4" for="star5" title="Very Poor!"> </label><br/>
      </div>



      <%= t.rich_text_area :content, placeholder: "Add Details", class: "trix-editor-reviews" %><br/>

      <%= t.submit "Update Review", data: {disable_with: "Submitting..."}, class: "btn btn-success update-button-reviews" %><br>

      <%= link_to "Delete Review", review_path(restaurant_review),  method: :delete, remote: true, data: {confirm: "Are Your Sure you want to delete this review?"}, class: "btn btn-danger" %>

      <% end %>
    </div>
    <% end %>
  </div>
</div>

<script>
  setTimeout(function(){ starSelection();}, 2000);

    console.log("i'm loaded!")

   function starSelection(){



  let clientele = document.getElementsByClassName("star");

   for (const c  of clientele){
    c.addEventListener('click', function(){
      c.previousSibling.checked = true
    })
   };

   let team = document.getElementsByClassName("star-2");

   for (const t  of team){
    t.addEventListener('click', function(){
      t.previousSibling.checked = true
    })
   };

   let management = document.getElementsByClassName("star-3");

   for (const m  of management){
    m.addEventListener('click', function(){
      m.previousSibling.checked = true
    })
   };

   let rating = document.getElementsByClassName("star-4");

   for (const r  of rating){
    r.addEventListener('click', function(){
      r.previousSibling.checked = true
    })
   };

 };

</script>






