


<article class="container">
  <div class="row">
    <% @reviews.reverse.each do |review| %>
    <div class="col-md-12">
    <div class="card">
        <div class="hero" id= "hello">
          <h2><%= review.restaurant['name']%></h2>
         <a href="/reviews/<%="#{review.id}"%>"><img class="image-post" src= "<%= review.restaurant['picture']%>" alt=""></a><br>
          <span><%= review.restaurant['address']%></span><br>
          <span><%= review.restaurant['price_range']%></span><br><br>
        </div>

      <!-- may use these to add more info to a review, shows phone number and bussiness type -->
        <!--  <%#=r.restaurant['res_type']%><br> -->
        <!-- Phone: <%#= r.restaurant['phone_number']%><br> -->

        <div class="info">
          <span class="rtitle"><b><%= review.title.capitalize %></b></span><br>
          <span><b>Role</b></span><br>
          <%= review.role %><br>
          <span><b>Clientele</b></span><br>
          <% review.clientele.times do %>
          <span class="star"></span>
          <% end %><br>
          <span><b>Team</b></span><br>
          <% review.team.times do %>
          <span class="star"></span>
          <%  end %> <br>
          <span><b>Management</b></span><br>
          <% review.management.times do %>
          <span class="star"></span>
          <% end %><br>
      <!-- <span><b>Details</b></span><br>
        <%#= r.more_details %><br> -->
      <!-- <span><b>Shift</b></span><br>
        <%#= r.shift_description %><br> -->
        <span><b>Tip Avg: </b></span>
        <%= review.tip_avg%>/hr<br>
        <span><b>Overall Rating</b></span><br>
        <% review.rating.times do  %>
        <span class="star"></span>
        <% end %>
        <br>


        <% if review.like_by @user  %>

        <span class="tips tdis-<%=review.id%>" id="disliking"><%= link_to "tips", unlike_page_path(review), method: :put,remote: true  %></span>

        <span class="vote-dislike-<%= review.id %>"><%=review.get_upvotes.size%></span>

        <% else %>
         <span class="tips tlik-<%=review.id%>" id="liking"> <%= link_to "tip", like_page_path(review), method: :put, remote: true %></span>
         <span class="vote-count" data-id="<%=review.id %>">

         <span  class="vote-like-<%=review.id %>"> <span><%=review.get_upvotes.size %></span></span>


       <br><br>
        <%# else %>
        <% end %>
      </div>
    </div>
  </div>

  <% end %>
</div>
</article>

<script>
  console.log("this is here and working!")
</script>


