

<%= link_to "Log-In", login_path %> OR <%= link_to "sign-up", new_user_path %><br>


<% @reviews.each do |r| %>
<h2><%= r.restaurant['name']%></h2>
<img class="image-post" src= "<%=r.restaurant['picture']%>" alt=""><br>
Address: <%= r.restaurant['address']%><br>
<%=r.restaurant['res_type']%><br>
Phone: <%= r.restaurant['phone_number']%><br>
<%= r.restaurant['price_range']%><br><br>
<span><b><%= r.title.capitalize %></b></span><br>
<%= r.role %><br>
<% r.clientele.times do %>
<span class="star"></span>
<% end %><br>

<% r.team.times do %>
<span class="star"></span>
<%  end %> <br>

<% r.management.times do %>
<span class="star"></span>
<% end %><br>

<%= r.more_details %><br>
<%= r.shift_description %><br>
<%= r.tip_avg%><br>
<% r.rating.times do  %>
<span class="star"></span>
<% end %>
<br><br>

<% if r.get_upvotes.size > 0 %>

<%= link_to "Tips", unlike_page_path(r) %>  <%=r.get_upvotes.size %>
<%#= link_to "un-dislike:", undislike_page_path(r) %>
<% else %>
<%= link_to "Tip:", like_page_path(r) %> <%=r.get_upvotes.size %>
<%#= link_to "dislike:", dislike_page_path(r)%> <%#= r.get_downvotes.size %>
<% end %>
<% end %>
