<% if logged_in? %>
<h1>Search for a restaurant</h1>

<%= render 'search' %><br>




 <% @restaurants.each do |r| %>
 <h2><%= link_to "#{r.name}", r %></h2>
 <img class="image-post" src="<%=r.picture  %>" alt=""> <br>
 <%= r.address %><br>
 <%= r.res_type %><br>
<%= r.phone_number %><br>
<%= r.price_range %><br>
<%= r.hours %><br>
<% end %>
<% else %>
<h1>Must be logged in!</h1>
<% end %>



 <!-- <%# @r["businesses"].each do |r| %>
<img class="image-post" src="<%#= r['image_url'] %>" alt=""><br>
<%#= link_to  "#{r['name']}", restaurant_path(:id)  %><br>
<%#= r["categories"][0]["title"] %>
<%#= r['price'] %><br>
<%#= r["location"]["display_address"] %><br>
<%#= r["display_phone"] %><br>
<%#= r["rating"] %><br>
<%# end %> -->




