



  <div class="scroll-circle">
  <span onclick="scrollUp()" class="glyphicon glyphicon-circle-arrow-up"></span>
  </div>


  <div class="container">
    <%= render 'search' %><br>
    <div class="row">

      <% @restaurants.try(:shuffle).each do |restaurant| %>
      <div class="col-md-6 col-sm-12">
        <div class="search-res">
         <p class="restaurant-name-link"><%= link_to "#{restaurant.name}", restaurant %></p>
         <a href="restaurants/<%= restaurant.id %>"><img class="image-post" src="<%= restaurant.picture  %>" alt="?No image?"></a> <br>
         <span><%= new_address_format(restaurant.address)%> </span><br>
         <span><%= restaurant.res_type   %></span><br>
         <span><%= restaurant.phone_number %></span><br>
         <span><%= restaurant.price_range %></span><br>
         <span><%= restaurant.hours %><br></span>
       </div>
     </div>
     <% end %>
   </div>
 </div>


<script>

 function scrollUp(){

  let navBar = document.querySelector('.navbar');
  navBar.scrollIntoView({behavior: 'smooth', block: 'start'});
 }

  if(window.pageYOffset === 0){
      let scrollCircle = document.querySelector('.scroll-circle');
      scrollCircle.classList.add("hide-scroll");
    }

  window.onscroll = function(){

    if( window.pageYOffset > 0){
    let scrollCircle = document.querySelector('.scroll-circle');
    scrollCircle.classList.remove("hide-scroll");
    } else if(window.pageYOffset === 0){
      let scrollCircle = document.querySelector('.scroll-circle');
      scrollCircle.classList.add("hide-scroll");
    }
  };




</script>
