<% if logged_in? %>
<div class="color">
  <div class="search-bar">
<!-- <h1>Search for a restaurant</h1> -->
<%= render 'search' %><br>
  </div>


<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="search-res">
       <% @restaurants.each do |r| %>
       <h2><%= link_to "#{r.name}", r %></h2>
       <img class="image-post" src="<%=r.picture  %>" alt=""> <br>
       <span><%= r.address %></span><br>
       <span><%= r.res_type %></span><br>
       <span><%= r.phone_number %></span><br>
       <span><%= r.price_range %></span><br>
       <span><%= r.hours %><br></span>
       <% end %>
       <% else %>
       <h1>Must be logged in!</h1>
       <% end %>
     </div>
   </div>
 </div>
</div>
</div>

 <!-- <%# @r["businesses"].each do |r| %>
<img class="image-post" src="<%#= r['image_url'] %>" alt=""><br>
<%#= link_to  "#{r['name']}", restaurant_path(:id)  %><br>
<%#= r["categories"][0]["title"] %>
<%#= r['price'] %><br>
<%#= r["location"]["display_address"] %><br>
<%#= r["display_phone"] %><br>
<%#= r["rating"] %><br>
<%# end %> -->




