


<div class="container review-form" >
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h2><%= @restaurant.name %></h2>
      <img class="image-post" src="<%=@restaurant.picture %>" alt="#"><br>
      <%if  @restaurant.address.nil? %>
      <span class="address-font"> No Address </span>
      <% else %>
      <span class="address-font"><%= new_address_format(@restaurant.address) %></span><br>
      <% end %>
      <span class="address-font"><%= @restaurant.res_type %></span><br>
      <span class="address-font"><%= @restaurant.phone_number %></span><br>
      <span class="address-font"><%= @restaurant.price_range %></span><br>
      <span class="address-font"><%= @restaurant.hours %></span>
    </div>

    <div class="col-md-6 col-sm-12">

      <%= render 'reviews/form' %>
    </div>
    <span><%= link_to "", restaurants_path,  class: "glyphicon glyphicon-circle-arrow-left back-button" %></span>
  </div>
</div>






