<h1><%#= @c['name'] %></h1>
<h1><%= @restaurant.name %></h1>



<img class="image-post" src="<%=@restaurant.picture %>" alt="#"><br>
<%= @restaurant.address %><br>
<%= @restaurant.phone_number %><br>
<%= @restaurant.price_range %><br>
<%= @restaurant.hours %>



<%= render :partial => 'reviews/form' %>
