

<%= form_for([@restaurant, @review]) do |t| %>
<%= t.text_field :title, placeholder: "Title" %><br>

 <%= t.select :role, [['Server'],['Bartender'],['Other']], :required => true, :prompt => "choose position" %><br>

<%= t.number_field :tip_avg, placeholder: "Tip average/Hr", :required => true %><br>
  <h4>Clientele:</h4>

<div class="container star-content">


<%= t.radio_button :clientele,5, :id=> "5", :class => "star"  %><label id="clientele5" class="star" for="star5" title="Excellent!"></label><br>
<%= t.radio_button :clientele, 4, :id=> "4", :class => "star"  %><label id="clientele4" class="star" for="star4" title="Good!"></label>
<%= t.radio_button :clientele, 3, :id=> "3", :class => "star"  %><label id="clientele3" class="star" for="star3" title="Average!"></label>
<%= t.radio_button :clientele, 2, :id=> "2", :class => "star"  %><label id="clientele2" class="star"  for="star2" title="Poor!"> </label>
<%= t.radio_button :clientele, 1, :id => "1", :class => "star"  %><label id="clientele1" class="star"  for="star1" title=" very Poor!"> </label>

</div>




 <h4>Team:</h4>

 <div class="container star-content">

<%= t.radio_button :team, 5, :id =>  "t5", :class => "star-2" %><label id="team5" class="star-2" for="star5" title="Excellent!"></label><br>
<%= t.radio_button :team, 4, :id =>  "t4", :class => "star-2" %><label id="team4" class="star-2" for="star4" title="Good!"> </label>
<%= t.radio_button :team, 3, :id =>  "t3", :class => "star-2" %><label id="team3" class="star-2" for="star3" title="average!"> </label>
<%= t.radio_button :team, 2, :id =>  "t2", :class => "star-2" %><label id="team2" class="star-2" for="star2" title="Poor!"> </label>
<%= t.radio_button :team, 1, :id =>  "t1", :class => "star-2" %><label id="team1" class="star-2" for="star1" title=" very Poor!"> </label>

 </div>




 <h4>Management:</h4>
<div class="container star-content">


<%= t.radio_button :management, 5, :id => "m5", :class => "star-3"  %><label id="mange5" class="star-3" for="star5" title="Excellent!"> </label><br>
<%= t.radio_button :management, 4, :id => "m4", :class => "star-3"  %><label id="mange4" class="star-3" for="star5" title="Good!"> </label>
<%= t.radio_button :management, 3, :id => "m3", :class => "star-3"  %><label id="mange3" class="star-3" for="star5" title="Average!"></label>
<%= t.radio_button :management, 2, :id => "m2", :class => "star-3"  %><label id="mange2" class="star-3" for="star5" title="Poor!"></label>

<%= t.radio_button :management, 1, :id =>  "m1", :class => "star-3" %><label id="mange1" class="star-3" for="star5" title="Very Poor!"> </label>
</div>






 <h4>Rating:</h4>



<div class="container star-content">

<%= t.radio_button :rating,5, :id =>"r5", :class => "star-4" %><label id="rate5" class="star-4" for="star5" title="Excellent!"> </label>
<%= t.radio_button :rating,4, :id =>"r4", :class => "star-4" %><label id="rate4" class="star-4" for="star5" title="Good!"> </label>
<%= t.radio_button :rating,3, :id =>"r3", :class => "star-4" %><label id="rate3" class="star-4" for="star5" title="Average!"> </label>
<%= t.radio_button :rating,2, :id =>"r2", :class => "star-4" %><label id="rate2" class="star-4" for="star5" title="Poor!"> </label>
<%= t.radio_button :rating,1, :id =>"r1", :class => "star-4" %><label id="rate1" class="star-4" for="star5" title="Very Poor!"> </label><br/>
</div>



<%= t.rich_text_area :content, placeholder: "Add Details" %>

<%= t.submit "submit", class: "btn btn primary review-submit-buttom" %>

<% end %>



<script>

  let c1 = document.getElementById("clientele1");
  c1.addEventListener("click", function(){document.getElementById("1").checked = true;})

  let c2 = document.getElementById("clientele2");
  c2.addEventListener("click", function(){document.getElementById("2").checked = true;})

  let c3 = document.getElementById("clientele3");
  c3.addEventListener("click", function(){document.getElementById("3").checked = true;})

  let c4 = document.getElementById("clientele4");
  c4.addEventListener("click", function(){document.getElementById("4").checked = true;})

  let c5 = document.getElementById("clientele5");
  c5.addEventListener("click", function(){document.getElementById("5").checked = true;})




  let team = document.getElementById("team1");
  team.addEventListener("click", function(){document.getElementById("t1").checked = true;})

  let team2 = document.getElementById("team2");
  team2.addEventListener("click", function(){document.getElementById("t2").checked = true;})

  let team3 = document.getElementById("team3");
  team3.addEventListener("click", function(){document.getElementById("t3").checked = true;})
  let team4 = document.getElementById("team4");
  team4.addEventListener("click", function(){document.getElementById("t4").checked = true;})
  let team5 = document.getElementById("team5");
  team5.addEventListener("click", function(){document.getElementById("t5").checked = true;})


 let mange1 = document.getElementById("mange1");

 mange1.addEventListener("click", function(){document.getElementById("m1").checked = true;})


   let mange2= document.getElementById("mange2");

  mange2.addEventListener("click", function(){document.getElementById("m2").checked = true;})


   let mange3 = document.getElementById("mange3");

  mange3.addEventListener("click", function(){document.getElementById("m3").checked = true;})

   let mange4= document.getElementById("mange4");

  mange4.addEventListener("click", function(){document.getElementById("m4").checked = true;})

  let mange5 = document.getElementById("mange5");

  mange5.addEventListener("click", function(){document.getElementById("m5").checked = true;})



 let rate1 = document.getElementById("rate1");
  rate1.addEventListener("click", function(){document.getElementById("r1").checked = true;})
  let rate2 = document.getElementById("rate2");
  rate2.addEventListener("click", function(){document.getElementById("r2").checked = true;})
  let rate3 = document.getElementById("rate3");
  rate3.addEventListener("click", function(){document.getElementById("r3").checked = true;})
  let rate4 = document.getElementById("rate4");
  rate4.addEventListener("click", function(){document.getElementById("r4").checked = true;})

  let rate5 = document.getElementById("rate5");
  rate5.addEventListener("click", function(){document.getElementById("r5").checked = true;
})

</script>

