<h1>Reviews#show</h1>






<h1><%= @restaurant.name %></h1>
<%= @restaurant.address %><br>
<%= @restaurant.phone_number %><br>
<%= @restaurant.price_range %><br>
<%= @restaurant.hours %><br>

<h2><%= @review.title %></h2>
<%= @review.clientele %><br>
<%= @review.management %><br>
 <%= @review.team %><br>
 <%= @review.more_details %><br>
 <%= @review.shift_description %><br>
 <%= @review.rating %><br>
