




<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p><br>
<p><%= @restaurant.phone_number %></p><br>
<p><%= @restaurant.price_range %></p><br>
<p><%= @restaurant.hours %></p><br>

<h2><%= @review.title %></h2>
<%= @review.clientele %><br>
<%= @review.management %><br>
 <%= @review.team %><br>
 <%= @review.more_details %><br>
 <%= @review.shift_description %><br>
 <%= @review.rating %><br>
