<!DOCTYPE html>
<html>
<head>
  <title>Tips</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application' %>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
  <NAV class="navbar">
    <ul>
      <li><img class="star-logo" src="/star.png" alt="#"></li>
      <li class="logo">Tips</li>
      <li><%= current_user.email if user_signed_in? %></li>
      <li><%= link_to "Reviews", root_path %></li>

        <li><%= link_to "Restaurant search", restaurants_path if user_signed_in? %></li>
      <% if user_signed_in? %>
        <li><%=link_to "log-out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
    </ul>
  </NAV>
  <%= yield %>

</body>
</html>
